body {
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.serce {
    position: relative;
    width: 300px; /* control the size */
    aspect-ratio: 1;
    background-color: red;
    /*filter: drop-shadow(0px 0px 100px white);
    box-shadow: 0px 0px 200px white;*/
    clip-path: 
    shape(
      from 50% 91%,
      line to 90% 50%,
      arc to 50% 9%  of 1%,
      arc to 10% 50% of 1%
    );
    transition: all 0.5s;
    animation: bicie 1.5s infinite;
    border: solid 1px white;
}

.serce_v2 {
    position: relative;
    width: 50px; /* control the size */
    aspect-ratio: 1;
    background-color: red;
    /*filter: drop-shadow(0px 0px 100px white);
    box-shadow: 0px 0px 200px white;*/
    clip-path: 
    shape(
      from 50% 91%,
      line to 90% 50%,
      arc to 50% 9%  of 1%,
      arc to 10% 50% of 1%
    );
    
}

.jeden, .dwa, .trzy, .cztery, .piec {
    transition: all 0.7s;
}

.jeden {
    height: 20%;
    width: 100%;
    background-color: #D52D00;
    filter: drop-shadow(0px 0px 10px #D52D00);
}

.dwa {
    height: 20%;
    width: 100%;
    background-color: #EF7627;
    filter: drop-shadow(0px 0px 10px #EF7627);
}

.trzy {
    height: 20%;
    width: 100%;
    background-color: white;
    filter: drop-shadow(0px 0px 10px white);
}

.cztery {
    height: 20%;
    width: 100%;
    background-color: #D162A4;
    filter: drop-shadow(0px 0px 10px #D162A4);
}

.piec {
    height: 20%;
    width: 100%;
    background-color: #A30262;
    filter: drop-shadow(0px 0px 10px #A30262);
}

.szesc {
    height: 40%;
    width: 100%;
    background-color: #D60270;
    filter: drop-shadow(0px 0px 10px #D60270);
}

.siedem {
    height: 20%;
    width: 100%;
    background-color: #9B4F96;
    filter: drop-shadow(0px 0px 10px #9B4F96);
}

.osiem {
    height: 40%;
    width: 100%;
    background-color: #0038A8;
    filter: drop-shadow(0px 0px 10px #0038A8);
}

.serce2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px; /* control the size */
    aspect-ratio: 1;
    background-color: black;
    /* clip-path: 
    shape(
      from 50% 91%,
      line to 90% 50%,
      arc to 50% 9%  of 1%,
      arc to 10% 50% of 1%
    ); */
    animation: animacja 1s ease-in forwards;
}

@keyframes animacja {
    from {
        height: 300px;
    }
    to {
        height: 0px;
    }
}

@keyframes tekst {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1, form, p, h2, .song {
    opacity: 0;
    animation: tekst 0.5s 1.5s forwards;
}

h1, p, h2 {
  text-shadow: 2px 2px 10px white;
}

input {
  background-color: black;
  border: none;
}

@keyframes bicie {
  10% {
    scale: 1;
  }
  20% {
    scale: 1.1;
  }
  30% {
    scale: 0.9;
  }
  40% {
    scale: 1.1;
  }
  50% {
    scale: 1;
  }
}

.song {
    width: 95%;
    background-image: linear-gradient(to left, #990012, #890010);
    box-shadow: 0px 0px 20px red;
    text-align: center;
}